* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .ant-layout {
    flex-direction: column !important;
  }
  .ant-layout .ant-layout-content {
    width: 100% !important;
  }
  .ant-layout .ant-layout-sider {
    width: 100% !important;
    max-width: none !important;
  }
  .ant-modal-content {
    margin: 0px 10px;
  }
}
